# Cadenas de caracteres

[Pablo A. Haya](https://pablohaya.com)

Hemos visto que la variables pueden almacenar números, pero también pueden guardar texto:

In [23]:
s = "¡Oh monte, oh fuente, oh río,!"
print(s)

¡Oh monte, oh fuente, oh río,!

`s` es una variable que almacena una cadena de caracteres, esto es, una serie de caracteres que representan un texto. Las cadenas de caracteres se representan incluyéndalas dentro de comillas doble (`""`) como en el ejemplo, o comillas simples (`''`).

Se puede incluir las comillas, ya sean dobles o simples, como parte del texto. Tan sencillo como emplear como delimitador las comillas contrarias.

In [24]:
t = 'Casi siempre, si no hay "tú" no hay "yo"'
print(t)
t = "Casi siempre, si no hay 'tú' no hay 'yo'"
print(t)

Casi siempre, si no hay "tú" no hay "yo"
Casi siempre, si no hay 'tú' no hay 'yo'

Otra alternativa es preceder las comillas con el caracter `\`, lo cual es inevitable si queremos incluir ambos tipos de comillas en la misma variable.

In [25]:
t = "Casi siempre, si no hay \"tú\" no hay 'yo'"
print(t)

Casi siempre, si no hay "tú" no hay 'yo'

Una función muy útil es  `len()` que nos permite saber el núero de caracteres que tiene una cadena.

In [26]:
print(len(s))

30

Aquí se cuentan todos los caracteres incluidos los espacios. Haz la prueba, y cuéntalos por ti mismo.

Las cadenas se diferencian de los números en que se representan siempre encerradas entre comillas dobles `""` (o simples como hemos visto más arriba). Así,

In [27]:
str = "1"
num = 1

`str` y `num` almacenan datos distinos, ya que la primera es el dígito `1`, y la segunda es el número.

Con las cadenas también se pueden realizar algunas operaciones aunque funcionan distintos que su equivalente números. Por ejemplo, la suma hace que se concatenen una detras de otra dos cadenas.

In [28]:
s1 = "¡Oh monte, oh "
s2 = "fuente, oh río,!"
print(s1 + s2)

print(len(s))
print(len(s1)+len(s2))

¡Oh monte, oh fuente, oh río,!
30
30

Mientras que la multiplican repite la cadena tantas veces como indiquemos.

In [29]:
print("¡O" + "o"*10 + "h!")

¡Oooooooooooh!

**Prueba tú mismo**. Imprime el resultado de las siguientes dos operaciones:
    
1. `2+2`
* `"2"+"2"`

Explica la diferencia en el resultado.

No nos emocionemos ya que no todas las operaciones están permitadas, así **no** se puede sumar una cadena de caracteres con un número. Al ejecutar el siguiente código nos da un error donde nos indican en la última línea que las cadenas (`str`) no se llevan bien con los números `Integer`.

In [30]:
print(s+n)

TypeError: must be str, not int

Ni tampoco se puede llamar a una función con cualquier tipo de dato. Por ejemplo, la función `len` solo está definida para una cadena de caracteres, pero no para un número.

In [31]:
print(len(n))

TypeError: object of type 'int' has no len()

Si que podemos convertir de un tipo a otro, transformando un número en una cadena de caracteres, y al revés, mediante dos funciones muy sencilas `str()` e `int()`. 

`str()` convierte cualquier dato en una cadena, mientras que 'int()' lo convierte en un número entero.

In [ ]:
print(s + str(n))

Vemos que ahora si que funciona la operación `+` ya que al convertir `n` en una cadena de caracteres es posible concatenarla a otra cadena.

In [ ]:
print(int(s) + n)

La conversión de número a cadena siempre va a funcionar, mientras que la contraria, como acabamos de ver, puede dar error. Para que la función `int()` pueda funcionar es preciso que contengan dígitos que se puedan intepretar como un número.

In [ ]:
s3 = "20"
print(int(s3) + n)

Ahora si que funciona la conversión, ya que los digitos `"20"` se convierten al número `20` que es posible sumar al contenido de la variable `n`

**Prueba tú mismo**. El siguiente código:
    
```
x = 10
print(x)
x = str(x)
print(x)
```

y explica que tipo de datos termina almacenado en la variable `x`.

## Ejercicios

**1. Ejercicio** Imprimir una carcajada muy grande, algo así como:

`jajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajaja
jajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajaja
jajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajaja
jajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajaja`

In [2]:
'ja'*200

'jajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajajaja'

**2. Ejercicio** Dado la longitud máxima que puede tener una línea `long_linea`, un titulo de un capítulo `txt`, y el número de página `npag`, realizar un programa que genera una línea de una tabla de contenidos, esto es, que rellene con puntos el espacio necesario para imprimir el título, y el número de página en el tamaño de la línea.

Tener en cuenta que el número de página puede tener más de un dígito. 

Así por ejemplo, con la siguiente declaración de variables:

```
long_linea = 80
txt = "Capítulo 1. El principio"
npag = 10
```

tendría que imprlmir:

`Capítulo 1. El principio......................................................10`

In [3]:
long_linea = 80
txt = "Capítulo 1. El principio"
npag = 10
n_puntos = long_linea - len(txt) - len(str(npag))
print(txt + n_puntos*"." + str(npag))

Capítulo 1. El principio......................................................10